<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="../img/uefa-champions-league-seeklogo.com.svg"
      type="image/x-icon"
    />
    <title>UEFA | Mystery Card</title>
    <link rel="stylesheet" href="../css/card.css" />
  </head>
  <body class="body">
    <div class="card-container"></div>

    <span
      class="home"
      onclick="(()=> window.location.replace('../index.html'))()"
      >Home</span
    >
    <audio src="../music/football-3.m4a" class="mp3"></audio>
    <script src="../js/card.js"></script>
  </body>
</html>
